body {
    background-color: #141414;
    font-weight: bold;
    color: #7d7d7d;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
}

hr {
    background-color: #707070;
}

a, #title {
    color: #46a0d8
}

.debug {
    border: 1px solid white;
}

#media_links {
    width: 1050px;
    height: 70px;
    vertical-align: text-bottom;
}

#main_container {
    width: 1050px;
    height: 1485px;
    background-color: #282828;
    margin-bottom: 30px;
}

#avatar {
    width: 150px;
    height: 150px;
    border: 5px solid #3c3c3c;
}

#info th {
    color: #fafafa;
    text-align: right;
    padding-right: 10px;
}

#session3 h5 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.progress {
    background-color: #3b3b3b;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 20px
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3px;
    font-weight: bolder;
}

#languages th {
    padding-right: 20px;
    padding-bottom: 12px;
}

.dot {
    height: 22px;
    width: 22px;
    background-color: #232323;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #373737;
}

#employment_title, #education_title {
    background-color: #373737;
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
}

.square-bullet {
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 10%;
    margin-right: 5px;
    text-align: center;
}

.circle-bullet {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
}

.arrow-down {
    border: solid #fafafa;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-right {
    border: solid #fafafa;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    top: -20%;
    left: -7%;
}

#employment h4, #education h4 {
    text-transform: none;
}